* {
    margin: 0;
    padding: 0;
    font-family: "Loma", serif;
}

.tabs__content {
    margin: 25px;
}

/**************************ORIGINAL DESIGN********************/



.original__tabs__labels {
    margin: 15px;
    padding: 0;

    border-bottom: 1px solid #aaa;
}

.original__tabs__labels-item {
    position: relative;
    bottom: -1px;

    display: inline-block;
    padding: 6px 12px;

    border: 1px solid transparent;
    border-bottom: none;
    list-style: none;
    cursor: pointer;

    transition: border 0.2s;
}

.original__is-active {

    border-radius: 5px 5px 0 0;

    background: #fff;
    border-color: #aaa;
    color: grey;
}



/**************************FLAT DESIGN********************/



.flat__tabs__labels {
    margin: 0 0 10px;
    padding: 0;

    background-color: teal;
}

.flat__tabs__labels-item {

    padding: 12px 24px;
    display: inline-block;

    list-style: none;
    cursor: pointer;
    color: ghostwhite;

    transition: background-color 0.3s;
}

.flat__is-active {
    background-color: #004D40;
}



/**************************MATERIAL DESIGN********************/



.material__tabs__labels {
    padding: 0;
    margin: 0 0 10px;

    background-color: #EF5350 ;
    border-bottom: 2px solid #d3d3d3;
}

.material__tabs__labels-item {
    position: relative;
    bottom: -2px;

    display: inline-block;
    padding: 14px 24px 12px;
    margin: 0;

    list-style: none;
    cursor: pointer;
    color: ghostwhite;
}

.material__is-active {
    color: #d3d3d3;
    border-bottom: 2px solid #EF5350;

    transition: color 0.3s;
}
